*,
*:before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

h1{
    color:blue;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    
}

h2{
    text-align: left;
}


p{
    text-align: center; 
    color: rgb(18, 18, 66);
}

.box{
    text-align: center; 
}

.full{
    text-align: center;
}